*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: sans-serif;
}


body {
      background-color: rgb(0, 0, 0);
}
.main {
    width: 100vw;
    height: 6rem;
   text-align: center;
   position: relative;
  
   border-bottom: 1px solid white;
}

.main img {
     object-fit: fill;
}
.main h2 {
      font-size: 5rem;
      height: 8rem;
      position: absolute;
      background-image:linear-gradient(40deg pink,blue);
      background-clip: text; 
      color: rgb(180, 163, 227);
      /* -webkit-background-clip: text; */
      width: 100%;
      overflow: hidden;
      animation: heading 3s ease infinite;
}

@keyframes heading {
    0%{color: rgb(168, 97, 177)}
    100%{color: rgb(103, 64, 113)}
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0,0.4),rgba(0,0,0,0,0.4),url(form_background.jpg));
        background-size: cover;
        background-position: center;
}

.second_container{
    width: 600px;
    height: 100vh;
    margin-top: 10px;
}


#my-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    color: white;
    transition: 1s;
    box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
    filter: blur(1px);
    background-image: url(blankpanther.jpg);
    background-repeat: no-repeat;
    background-position: center;
   

}


#my-form:hover {
    filter: blur(0px);
    transition: 0.76s;
}

#my-form input {
    width: 20rem;
    height: 3rem;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    border: none;
    margin: 2px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(251, 251, 252, 0.37) 0px 8px 24px;
    color: rgb(255, 255, 255);
    border: none;
    background: none;
}



#gender {
    color: rgb(255, 255, 255);
    padding: 1px;
    border: none;
    max-width: 20rem;
    max-height: 5rem;
    outline: none;
}
#food {
    color: rgb(255, 255, 255);
    padding: 1px;
    border: none;
    max-width: 20rem;
    max-height: 5rem;
    outline: none;
    border-radius: 10px;
    /* border: 1px solid rgb(139, 34, 34); */
}

#state {
    padding: 1px;
    border: none;
    max-width: 20rem;
    max-height: 5rem;
    outline: none;
    color: white;
    border-radius: 10px;
    /* border: 1px solid rgb(139, 34, 34); */
}


.vscomp-toggle-button{
    padding: 4px;
    height: 3.4rem;
    border-radius: 10px;
    text-align: center;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: none;
    box-shadow: rgba(251, 251, 252, 0.2) 0px 8px 24px;
    background: transparent;
}






#address {
    width: 20rem;
    height: 3rem;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border-radius: 10px;
    outline: none;
    box-shadow: rgba(251, 251, 252, 0.37) 0px 8px 24px;
    color: rgb(255, 255, 255);
    border: none;
}
#agree {
    height: 1rem;
    width: 1px;
    background-color: rgb(255, 255, 255);
}

#button {
      padding: 4px;
      cursor: pointer;
      border-radius: 4px;
      background-color: lightcoral;
      width: 20rem;
      height: 2rem;
      border: none;
      color: white;
      font-size: 1.8rem;
      font-weight: 600;
      transition: 1s;
}

#button:hover {
    background-color: rgb(255, 1, 1);
    transition: 0.67s;
}
#show {
    border: 1px solid black;
}
#check {
    position: absolute;
    bottom: 3rem;
    left: 5rem;
    position: fixed;
}

#my-table {
    position: absolute;
     left: 0;
    font-size: large;
    line-height: 3rem;
    width: 100vw;
    
    color: rgb(238, 238, 238);
    text-align: center;
}
#my-table,tr,th,td {
    border: 1px solid rgb(255, 22, 22);
    border-collapse: collapse;
    margin: 0;
    padding:6px;
     color: white;
     font-size: larger;
}
#my-table,th {
    color: rgb(246, 85, 85);
    font-size: 1.5rem;
}
#my-table,td {
    font-size: medium;
}

.table-heading {
    font-size: 2rem;
    text-align: center;
    color: rgb(246, 85, 85);
}
  




@media (min-width:400px) {
    
#my-table {
    position: absolute;
    left: 0;
    font-size: larger;
    line-height: 3rem;
    width: 100vw;
    text-align: center;
    color: white;
 }


 
#my-table,tr,th,td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    margin: 0;
    padding:6px;
     font-size: larger;
     color: rgb(255, 255, 255)
}
#my-table,th {
    font-size: 1.5rem;
    color: rgb(180, 163, 227)
}

#my-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin-top: 25px;
    border: 2px solid rgb(0, 0, 0);
    /* background-image: url(form-3.gif); */
    color: white;
    transition: 1s;
    box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
}
}

